*{
    margin: 0px;
    padding: 0px;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}


.navbar{
    
    max-width: 1650px;
    height: 96px;
    background-color:#ffffff;
}
.navbar .navbar-icon{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .navbar-icon ul{
    display: flex;
    gap:32px ;
    max-width: 365px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    margin-top: 35px;
}
.navbar .navbar-icon a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.navbar-icon button{
    background-color: #30B868;
    margin-right: 120px;
    width: 164px;
    height: 44px;
    color: #ffffff;
    margin-top: 24px;
    
    cursor: pointer;}
 /* HERO */
.banner {
    text-align: center;
    padding: 100px 20px;
    background-image: url(../assets/hero-bg.png);
}

.banner-section {
    background-color: #ffffff;
    
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 16px;
}
.banner-section{
    color: #22c55e;
}
.banner h1 {
    font-size: 51px;
    margin: 24px 0;
    color: #ffffff;
}

.banner h1 span {
    color: #22c55e;
}

.banner p {
    max-width: 720px;
    margin: auto;
    color: #cfd8dc;
}

.banner-actions {
    margin-top: 32px;
}

.btn {
    padding: 14px 26px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin: 6px;
    display: inline-block;
}

.primary {
    background: #22c55e;
    color: #0b1c2d;
}

.outline {
    border: 1px solid #22c55e;
    color: #22c55e;
}
