*{
    margin: 0px;
    padding: 0px;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}


.navbar{
    
    max-width: 1650px;
    height: 96px;
    background-color:#ffffff;
}
.navbar .navbar-icon{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar-pp{
    margin-top: 16px;
    margin-left: 120px;
}
.navbar .navbar-icon ul{
    display: flex;
    gap:32px ;
    max-width: 365px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    margin-top: 35px;
}
.navbar .navbar-icon a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.navbar-icon button{
    background-color: #30B868;
    margin-right: 120px;
    width: 164px;
    height: 44px;
    color: #ffffff;
    margin-top: 24px;
    
    cursor: pointer;}
 /* HERO */
.banner {
    text-align: center;
    padding: 100px 20px;
    background-image: url(../assets/hero-bg.png);
}

.banner-section {
    background-color: #ffffff;
    
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 16px;
}
.banner-section{
    color: #22c55e;
}
.banner h1 {
    font-size: 51px;
    margin: 24px 0;
    color: #ffffff;
}

.banner h1 span {
    color: #22c55e;
}

.banner p {
    max-width: 720px;
    margin: auto;
    color: #cfd8dc;
}

.banner-button {
    margin-top: 32px;
}

.btn {
    padding: 14px 26px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin: 6px;
    margin: top 20px; ;
}

.primary {
    background: #22c55e;
    color: #0b1c2d;
}

.outline {
    border: 1px solid #22c55e;
    color: #22c55e;
}
#hero .hero-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-right: 200px;
    
}
.hero-container .hero-heading{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.hero-heading h1{
    font-size: 48px;
    font-weight: bold;
    margin-top:60px ;
    margin-bottom: 16px;
}
.hero-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-item .card-part img{
    background-color: #f95555;

    width: 32px;
    height: 32px;
    border: 100px;
    border-radius: 900px; 
     grid-template-columns: repeat(4, 1fr);
     
    
}
#hero .hero-container .card-item{
    width: 71%;
display: flex;
gap: 24px;
box-shadow: 0 0 8 0 #000000;

}
#hero .hero-container .card-item .card-part{
padding: 30px;
margin-top: 16px;

max-width: 200px;

box-shadow: 0 0 8px 0 #000000;
}



.card-part img{
    max-width: 60px;
    margin: 60px 131px 16px 80px;
    margin-bottom: 16px;
    margin-right: 130px;
}
.card-part h2{
    text-align: center;
    font-size:20px;
    color: #001931;
    margin-bottom: 16px;
}
.card-part p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    
}
.hero-container{
    width: 1330px;
    margin-right: 200px;
}
#solution-section .solution-part{

width: 71%;
max-width: 1308px;
margin: 0 auto;
display: flex;
margin-top: 120px;
}
#solution-section .solution-part .inside-pic{
    max-width: 600px;
    max-height: 600px;
    width: 600px;
    height: 500px;
    
    
}
.inside-pic img{
    height: 500px;
    width: 600px;
}
.text-content{
    max-width: 648px;
    max-height: 396px;

}
.text-content .subtitle{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;

}
.text-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
text-content p{
    font-size: 16px;
    color: #627382;
    
}
.text-content .list-section{

    max-width: 648px;
    max-height: 128px;
    margin-top: 16px;

}
.text-content .list-section .list{
    list-style-type: none;
    
    
}
.text-content .list-section .list li{
    padding: 7px
}